confidential
generated_tests/
config.json

node_modules
package-lock.json
/service/data
/*.log
/*.hprof

.terraform
*.tfstate*
*.pem

/data
service/config

client/build/js
service/src/main/resources/static/app
build
\.gradle

# IntelliJ
\.idea/workspace\.xml
out

# Eclipse
.project
.classpath

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
