# CORS headers
add_header access-control-allow-credentials true always;
add_header access-control-allow-origin $http_origin always;
proxy_hide_header x-frame-options;

if ($request_method = 'OPTIONS') {
   add_header access-control-allow-origin *;
   add_header access-control-allow-methods 'GET, POST, OPTIONS, PUT';

   add_header access-control-allow-headers 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
   return 204;
}