user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    server_tokens off; # hide nginx version

    server {
        listen 80 default_server;
        listen [::]:80 default_server;

        #    Letsencrypt
        location ^~ /.well-known/acme-challenge/ {
            root /etc/letsencrypt;
        }

        location / {
            return 301 https://$host$request_uri;
        }
    }

    server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;
        server_name www.intrafind.net;

        include /etc/nginx/snippets/ssl.conf;

        location / {
            return 301 http://intrafind.de;
        }
    }

    server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;
        server_name intrafind.net;

        include /etc/nginx/snippets/ssl.conf;

        location / {
            return 301 http://intrafind.de;
        }
    }

    server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;
        server_name logs.sitesearch.cloud;

        include /etc/nginx/snippets/ssl.conf;

        auth_basic "BI Insights";
        auth_basic_user_file /etc/nginx/.htpasswd;

        location / {
            proxy_pass http://ops-kibana:5601;
        }
    }

    server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;
        server_name elasticsearch.sitesearch.cloud;

        include /etc/nginx/snippets/ssl.conf;

        auth_basic "Authentication";
        auth_basic_user_file /etc/nginx/.htpasswd;

        location / {
            proxy_pass http://ops-elasticsearch:9200;
        }
    }

    server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;
        server_name ci.sitesearch.cloud;

        include /etc/nginx/snippets/ssl.conf;

        location / {
            # Bootstrapping router with these settings does not work.
            #        proxy_set_header upgrade $http_upgrade;
            #        proxy_set_header connection $connection_upgrade;

            proxy_pass http://teamcity-server:8111;
        }
    }

    server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;
        server_name cd.intrafind.net;

        include /etc/nginx/snippets/ssl.conf;

        location / {
            proxy_set_header Host $http_host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
            proxy_set_header X-Forwarded-Protocol $scheme;
            proxy_set_header X-Url-Scheme $scheme;
            proxy_set_header X-Forwarded-Ssl on;
            client_max_body_size 10G;
            proxy_pass http://gitlab;
        }
    }

    server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;
        server_name maven.intrafind.net;

        include /etc/nginx/snippets/ssl.conf;

        auth_basic "Restricted";
        auth_basic_user_file /etc/nginx/.htpasswd; # supply this via env vars somehow or as raw file at build time

        location / {
            dav_methods PUT DELETE MKCOL COPY MOVE;
            create_full_put_path on;
            dav_access user:rw group:rw all:r;
            #            proxy_cache maven_cache;
            client_max_body_size 3G;
            root /srv/maven-repository;
        }
    }

    server {
        listen 443 ssl http2;
        listen [::]:443 ssl http2;
        server_name docker-registry-auth.intrafind.net;

        include /etc/nginx/snippets/ssl.conf;

        location /auth {
            proxy_pass http://docker-auth:5001/auth;
        }
    }

    server {
        listen      443 ssl http2;
        listen [::]:443 ssl http2;
        server_name  docker-registry.intrafind.net;

        include /etc/nginx/snippets/ssl.conf;

        client_max_body_size 0;
        chunked_transfer_encoding on;

        location /v2 {
            proxy_pass http://docker-registry:5000;
        }
    }

    server {
        listen      443 ssl http2;
        listen [::]:443 ssl http2;
        server_name  ca-on-premise.intrafind.net;

        include /etc/nginx/snippets/ssl.conf;
        client_max_body_size 25G;

        location / {
            auth_basic "Contract Analyzer on premise";
            auth_basic_user_file /etc/nginx/.htpasswd;

            root /srv/download;
            autoindex on;
        }
    }

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    '$status $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    resolver_timeout          5s;

    gzip on;
    gzip_types text/plain text/css application/xml application/json application/javascript;

    map $http_upgrade $connection_upgrade {
        default upgrade;
        "" close;
    }
    include /etc/nginx/conf.d/*.conf;
}